<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="pull-right avatar-text">The Urtist
        <img class="pull-right" style="width:25px;margin-top:28%;margin-left:5px" src="images/svg/flower.svg"/>
      </span>
        <img src="images/purple.jpeg" class="avatar"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/"><img class="nav-icon" src="images/svg/flags.svg"/>Home</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img style="width:100%;top:0%" class="nav-icon" src="images/svg/flags.svg"/> Portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/portraits">Portraits</a></li>
            <li><a href="#/comic-strips">Comic Strips</a></li>
            <li><a href="#/nature">Nature</a></li>
            <li><a href="#/still-life">Still Life</a></li>
          </ul>
        </li>
        <li><a href="#/about"><img class="nav-icon" src="images/svg/flags.svg"> About</a></li>
        <li><a href="#/contact"><img class="nav-icon" style="width:110%;top:15%" src="images/svg/flags.svg"> Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="header-strip"></div> 
